
.body {
  background-color: #f1f1f1;
  font-family: Arial;
  min-height:100%;
  position:relative;

}
.myBtnContainer {
  [b]min-height: 100%;
  margin: 0 auto -80px;
  overflow:hidden;
  width: 940px;
  margin-top:80px;

}
.myBtnContainer {
  overflow:visible;
  height:100%;

}
.nav {
  vertical-align: middle;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #050504;
  color: white;
  text-align: center;
  vertical-align: middle;
}
